#projects {
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 10px double black;
}

#projects ul {
    padding-left: 0;
}

@media all and (min-width: 600px) {
    #projects {
        grid-row: span 3;
    }
}

@media all and (min-width: 1000px) {
    #projects .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    #projects {
        grid-row: span 3;
    }

}