#about-me .intro {
    text-align: center;
}

#about-me {
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 10px double black;
}

#about-me .skills {
    display: grid;
    list-style-type: circle;
    margin: 16px auto;
    width: 99%;
}
#about-me .breakout {
    border: 2px solid #57CC99;
    margin: auto;
    display: block;
}

#about-me img {
    margin: auto;
    display: block;
}

@media all and (min-width: 1400px) {
    #about-me .skills {
        grid-template-columns: 1fr 1fr;
    }
}